body.index{
  font-family: 'Roboto Condensed', sans-serif;
  background-color:white;
}

form.form{
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
}

.nav-link{
  color:orange;
}

.nav > li > a:hover{
  color:white;
}

.jumbotron{
  background-image: url(homejobs.png);
  background-repeat:no-repeat;
  background-size:auto;
  height: 430px;
}

.jumbotron img{
  height:0px;
}

.btn-primary{
  background-color: #FFA500;
  color: black;
  border-color: #FFA500;
  width: 650px;
}

btn-primary.form{
  background-color: #FFA500;
  color: black;
  border-color: #FFA500;
  width: 650px;
}

.btn-primary:hover{
  background-color: #FFA500;
  border-color: #FFA500;
}

h1.display-3{
  color:black;
  margin-left:0px;
}

h3.lead{
  color:black;
  margin-left:0px;
  font-size: 15px;
}

h4.pricing{
  margin-top:20px;
}

h5.pricing{
  margin-bottom:50px;
}

h4.subsc{
  margin-top:180px;
}

h5.subsc{
  margin-top:30px;
}

p.lead-1{
  color:black;
}

p{
  font-size: 14px;
}

p.rights{
  font-size:12px;
  color:white;
}

body.MyJourney{
  background-color: white;
}

.jumbotron1{
  background-image: url(bronzejumbot.JPG);
  background-repeat:no-repeat;
  background-size:cover;
  height:700px;
}

.jumbotron2{
  background-image: url(silverjumbot.JPG);
  background-repeat:no-repeat;
  background-size:cover;
  height:700px;
}

.jumbotron3{
  background-image: url(goldjumbot.JPG);
  background-repeat:no-repeat;
  background-size:cover;
  height:700px;
}

.container{
  margin:50px;
  margin-left:100px;
}

.jumbotron4{
  background-image: url(studiopro.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  height:700px;
}

.jumbotron5{
  background-image: url(blackpool.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  height:700px;
}

.container img{
  height:400px;
  margin:50px;
}
